@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #f7f6f2;
  }

  body,
  html {
    @apply h-full w-full m-0 overflow-hidden;
    font-size: 16px;
  }
}

#home {
  @apply h-full w-full;
}

#board-root {
  height: 100%;
  width: 100%;
}
